<html>
  <head></head>
  <body>
    <h1>Hello</h1>
    <h1>{{title}}</h1>
    <p *ngIf="count>5 && count<=10">I am Visible</p>
    <button (click)="Increment()">Increment Count</button>
    <br><button (click)="Decrement()">Decrement Count</button>
    <p>Count = {{count}}</p>
    <p><li *ngFor="let item of list">{{item}}</li></p>
    <p><li *ngFor="let str of list2">{{str}}</li></p>
    <p><input type="text" [(ngModel)]="title"> </p>
    <p>
      <input type="number" [(ngModel)]="number1">
      <input type="number" [(ngModel)]="number2">
      <button (click)="res()">Sum</button><br>
      <h3>Sum is {{sum}}</h3>
    <p>
      <app-comp1></app-comp1>  
    </p>
  </body>
</html>